@font-face {
    font-family: 'MarketSans';
    src: url(/resource/MarketSansFont/ebay_market_sans/Web/TTF/MarketSans-Regular.ttf);
}
@font-face {
    font-family: 'MarketSansBold';
    src: url(/resource/MarketSansFont/ebay_market_sans/Web/TTF/MarketSans-Bold.ttf);
}
:host {
    --font-size-h1: 2.25rem;
    --font-size-h3: 1.5rem;
    --font-size-number: 2rem;
    --font-size-text-big: 1.125rem;
    --font-size-text-big-small: 1rem;
    --font-size-text-default: .875rem;
    --sds-section-color:#EBEBEB;
    --slds-c-accordion-heading-text-color:white;
    --sds-c-accordion-heading-text-color-hover:rgb(236, 230, 230);
    letter-spacing: 0.05rem;
    display: block;
    --sds-border-color:black;
    --hive-portal-custom-font-regular: MarketSans, Helvetica, sans-serif;
    --hive-portal-custom-font-bold: MarketSansBold, Helvetica, sans-serif;
}
a { font-family: var(--hive-portal-custom-font-bold); }
.bold-span { font-family: var(--hive-portal-custom-font-bold); }
.main-section{
    position: relative;
    /*padding: 5rem 0;*/
    /*background-color: white;*/
}
.justify-content-center {
    justify-content: center;
}
.position-relative {
    position: relative;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.section-tasks .filters .btn {
    margin-left: 1.5rem;
    padding: 0.75rem 1.25rem;
    font-size: .75rem;
    border: 1px solid #707070;
    border-radius: 1.25rem;
    color: black;
}
.hyperlink-pdf{
    font-family: var(--hive-portal-custom-font-regular);
    color: #121258;
    text-decoration: underline;
}
.active-button {
    border: 1px solid #F3F3F3 !important;
    background: #F3F3F3;
}

.section-tasks .filters div span.note-category {
    position: absolute;
    bottom: -4rem;
    right: 2rem;
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
    font-size: 0.65rem;
    font-weight: normal;
    text-align: center;
    background: #F3F3F3;
}

.task-row-div{
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 0.5rem;
    box-shadow: 0px 0px 10px #00000014;
}
.task-row-inner-div{
    color: #191919;
    padding: 20px 15px;
    border-radius: 4px;
    background: #C5E4FB;
}
.desc-div{
    padding: 1rem 0 15px;
    font-size: 0.75rem;
    line-height: 1.2rem;
}
.p-class{
    line-height: 1.6rem;
    margin-bottom: 0;
}
.empty-div{
    margin-bottom: 4rem;
}
.task-main-div{
    justify-content: normal;
    margin-left: 0%;
}
.description-text-color{
    color: #121258;
    font-family: var(--hive-portal-custom-font-bold);
}
.gear-icon{
    width : 21px;
}
.btn:hover {
    background: #F3F3F3;
}
.onprogress:hover {
    background: #F3F3F3;
}
a:hover { 
    text-decoration: none; 
}
.your-task {
    font-family: var(--hive-portal-custom-font-bold);
    font-size: 1.5rem;
}