.read-only-container.read-only {
    pointer-events: none;
    opacity: 0.6; /* Optional: to visually indicate that the fields are read-only */
}
.cls_content {
    float: none;
    clear: both;
    background-color: #ffffff;
    overflow-y: auto;
}
.cls_contentWrapper {
    border: 1px solid #e9ecee;
    float: left;
    width: 100%;
    border-radius: 10px;
}

.cls_displayfileName {
    width: 100%;
    float: left;
}

.cls_tableWrapper {
    float: left; 
    width: 100%; 
    overflow-x: auto;
}
.cls_disableButton {
    background-color: #c5c5c5 !important;
    color: #fbfbfb !important;
    border-color: #c5c5c5 !important;
}

.cls_message-info {
    padding: 10px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
    border-radius: 5px;
}

.cls_message-error{
    background-color: #fff2f2;
    color: red;
    width: 100%;
}
.cls_message-success{
    background-color: #e7fbee;
    color: #00ad0d;
}
.cls_status{
    color: #00ad0d !important;
}
.cls_error{
    color: red !important;
}
.hide{
    display: none;
}
.cls_span {
    width: 100%;
    float: left;
}

.cls_float-left {
    float: left;
}
.cls_margin-right {
    margin-right: 10px !important;
}
.cls_padding-zero {
    padding-left: 0;
    padding-right: 0;
}.slds-grid.slds-grid_align-center {
    justify-content: left; 
}.slds-grid.slds-grid_align-center {
    justify-content: left; 
}/* Tooltip container */
.tooltip {
    position: relative;
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #032e61;
    color: #fff;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 60px;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #032e61 transparent transparent transparent;
}

.uploaderSeperator{
    border-right: 1px solid #e9ecee;
}

.displayInline{
    display: inline-block;
}

.userGuideLink{
    color: rgb(51, 51, 51); 
    background-color: rgb(250, 250, 250);
}

.copyPasteInput{
    width: 380px;
}

.slds-modal__container.slds-is-relative{
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    padding: 1rem;
}

.headerSection > div .slds-modal__title{
    vertical-align: middle;
}

.headerSection > div{
    width: 100%;
    display: inline-block;
}

.headerSection > div > div,
.headerSection > div > div > h2{
    display: inline-block;
}

.headerSection > div > div > img{
    width: 100px;
}

.slds-modal__content{
    text-align: center;
}

.uploadGuideImg{
    width: 75%;
    display: block;
    margin: 0 auto;
}

@media screen and ( min-height: 653px ) and ( min-width: 1350px ) {
    .uploadGuideImg{
        width: 70%;
    }
}

@media screen and ( min-height: 653px ) and ( min-width: 1450px ) {
    .uploadGuideImg{
        width: 65%;
    }
}

@media screen and ( min-height: 653px ) and ( min-width: 1550px ) {
    .uploadGuideImg{
        width: 60%;
    }
}

@media screen and ( min-height: 653px ) and ( min-width: 1650px ) {
    .uploadGuideImg{
        width: 55%;
    }
}

@media screen and ( min-height: 653px ) and ( min-width: 1750px ) {
    .uploadGuideImg{
        width: 50%;
    }
}