.cls_windowwrapper {
    width: 100%;
    float: left;
    padding: 10px 20px 0 20px;
    overflow: auto;
}
.cls_wrapper{
    float: none !important;
    overflow: auto !important;
}
.cls_contentWrapper {
    width: 100%;
    float: left;
    overflow: auto;
}
.cls_float_right {
    float : right;
}
.cls_windowTitle {
    font-weight: bold;
    color: #123045 !important;
}
.cls_status_open {
    background-color: #62d14d !important;
    margin-top: 2px !important;
    text-align: center;
}
.cls_status_Pending {
    background-color: #ffd400 !important;
    margin-top: 2px !important;
    text-align: center;
}
.cls_status_closed {
    background-color: #cf3232 !important;
    margin-top: 2px !important;
    text-align: center;
}
.cls_rowWrapper {
    overflow: hidden;
    width: 100%;
    float: left;
}
.cls_rowWrapper:hover {
    background-color: #f4f8fb;
}
.cls_rowColor {
    background-color: #f4f8fb;
}
.cls_colunmTwo {
    float: left;
    padding: 5px 20px;
    width: 50%;
}
.cls_paggding_right {
    padding-right: 10px;
}
.cls_disableButton {
    background-color: #c5c5c5 !important;
    color: #fbfbfb !important;
    border-color: #c5c5c5 !important;
}
.cls_font-size_title {
    font-size: 16px !important;
}
.cls_Categories_title {
    margin-top: 0 !important;
}

/*MN-25112021-US-0010775*/
.dwi-section {
    display: inline-flex !important;
    padding-left: 20px;
    width: 100%;
}

.dwi-left-section {
    width: 80%;
    padding-left: 30px;
}

.dwi-right-section {
    width: 20%;
    padding-right: 11px;
    text-align: right;
    position: relative;
    display: inline-flex;
}

.dwi-child-section-button {
    position: absolute;
    right:0;
}

.dwi-child-section-button a.backButton {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.listTop-Override {
    display: flex !important;
}

.listColumnTwo-override {
    width: 294px !important;
    padding-top: 0px;
}

.cls_JuncFirstCol {
    display: inline-block;
    padding-left: 20px;
    padding-top: 10px;
}

.cls_JuncColLabel {
    display: block;
    font-size: small;
    color: #767676;
}
.cls_JuncTextSize {
    font-size: small !important;
}

.cls_JuncDesc {
    min-width: 60% !important;
}

/* line 85, ../sass/components.scss */
.slds-card {
    border: 0 none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    overflow: hidden;
  }
  /* line 91, ../sass/components.scss */
  .slds-card.card-padding {
    padding: 20px;
  }
  /* line 99, ../sass/components.scss */
  .itemList {
    padding: 0px 0px;
  }
  /* line 103, ../sass/components.scss */
  .listTop {
    padding-right: 60px;
    position: relative;
  }
  /* line 107, ../sass/components.scss */
  .listTop .backButton {
    position: absolute;
    top: 15px;
    right: 0px;
  }
  /* line 114, ../sass/components.scss */
  .listMiddle {
    border-top: 1px solid #ebebeb;
    padding-right: 60px;
  }
  /* line 119, ../sass/components.scss */
  .listBottom {
    text-align: right;
    padding: 20px;
    /*border-top: 1px solid #ebebeb;*/
  }
  /* line 123, ../sass/components.scss */
  .listBottom .slds-button img {
    margin-right: 10px;
  }
  /* line 127, ../sass/components.scss */
  .listBottom .leftCta {
    float: left;
  }
  /* line 132, ../sass/components.scss */
  .listColumnTwo {
    padding: 20px;
    overflow: hidden;
    width: 33.333%;
    float: left;
  }
  /* line 139, ../sass/components.scss */
  .listColumnOne {
    padding: 20px;
    overflow: hidden;
    width: 33.333%;
    float: left;
  }
  /* line 145, ../sass/components.scss */
  .listColumnOne input[type="radio"] {
    float: left;
    margin-right: 15px;
    margin-top: 5px;
  }
  /* line 152, ../sass/components.scss */
  .listColumn {
    font-size: 16px;
  }
  /* line 156, ../sass/components.scss */
  .listColumn span {
    color: #767676;
    font-size: 14px;
    display: block;
  }
  /* line 162, ../sass/components.scss */
  .listColumn b {
    color: #113045;
    background: #edf0f9;
    border-radius: 20px;
    font-size: 12px;
    display: block;
    padding: 0px 10px;
    margin-top: 5px;
  }
  /* line 172, ../sass/components.scss */
  .listColumn {
    float: left;
  }

  .backButton {
    background: #edf0f9;
    width: 42px;
    height: 42px;
    border-radius: 5px;
    display: block;
    line-height: 42px;
    text-align: center;
    float: left;
    margin-right: 20px;
  }