.download-btn lightning-icon{
    padding-right: 5px;
}

.cls_marginBottom{
    padding:0px;
    margin-bottom: 20px;
}
.cls_windowTitle {
    font-weight: bold;
}
.cls_font-size_title {
    font-size: 16px !important;
}
.cls_ListViewWrapper {
    padding: 1rem;

}
.cls_ListViewWrapper .listColumn a {
    width: 30px;
    height: 30px;
    /*line-height: 30px;*/
    float: right;

}
.cls_accordion {
    /*padding-top: 15px;*/
    padding: 1rem;
    
}
/* .pdf-viewer-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: white;
} */