.slds-tabs_scoped__content {
    /* margin-top: -16px !important; */
}

div.lwcCouponSellerDetailPage li.slds-tabs_scoped__item:not(.slds-is-active) a.slds-tabs_scoped__link {
    color: #5a5a5a !important;
}

.slds-card{
    box-shadow:0px 2px 4px rgba(0,0,0,0.2);
}

.slds-card__body{    
    font-size: 14px;
}

.hideChildCmp{
    display: none;
}

.cls_message-info {
    padding: 10px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
    border-radius: 5px;
}