.banner{
    background-color:#fdcd27;
}
.text_heading{
    color: #07522c;
    font-weight: 700;
    font-size: 2.25rem;;
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    color: #07522c;
    font-size: 1.0625rem;
    font-family: Arial, Helvetica, sans-serif;
}
.bckButton{    
    width: 145px;
    border: 2px solid #07522c;
    cursor: pointer;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.bckButton:hover{
    background: #07522c;
    color: #fdcd27;
}
.slds-icon-text-default{
    fill:#2e844a !important;
}
.bckButton svg{
    fill:#2e844a !important;
}
.slds-icon_small{
    fill:#2e844a !important;
}

.dashboardAlert{
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    border: 1px solid #0654ba; /* Sophal 08-04-2022 US-0011443 */
}
.backButton{
    position: absolute !important;
    top: 7px !important;
}