.cls_content {
    float: left;
    width: 100%;
    background-color: #ffffff;
}
.cls_contentWrapper {
    border: 1px solid #e9ecee;
    float: left;
    width: 100%;
    border-radius: 10px;
}

.cls_displayfileName {
    width: 100%;
    float: left;
}

.cls_tableWrapper {
    float: left; 
    width: 100%; 
    overflow-x: scroll;
}
.cls_disableButton {
    background-color: #c5c5c5 !important;
    color: #fbfbfb !important;
    border-color: #c5c5c5 !important;
}

.cls_message-info {
    padding: 10px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
    border-radius: 5px;
}

.cls_message-error{
    background-color: #fff2f2;
    color: red;
}
.cls_message-success{
    background-color: #e7fbee;
    color: #00ad0d;
}

.hide{
    display: none;
}
.cls_span {
    width: 100%;
    float: left;
}

.cls_float-left {
    float: left;
}
.cls_margin-right {
    margin-right: 10px !important;
}
.cls_padding-zero {
    padding-left: 0;
    padding-right: 0;
}