/* Copied from Bootstrap */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1320px;
}
.text-14 {
    font-size: .875rem;
}
.mb-2 {
    margin-bottom: .5rem !important
}
@media (min-width:768px) {
    .mb-md-0 {
        margin-bottom: 0 !important
    }
}
.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important
}
.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important
}