.glean-app-container-2 {
    width: 100%;
    height: 100%; /* Adjust based on your requirement */
    /* min-height: 400px; */
    overflow: hidden;
}
.error-container {
    background-color: #fdecea;
    border: 1px solid #f5c6cb;
    padding: 1rem;
    border-radius: 5px;
    color: #721c24;
}
.h100{
    height:100%;
}