.surveyButton{
    width: 150px;
    height: 50px;
    position: fixed;
    bottom: -10px;
    right: 30px;
    text-align: center;
    padding-top: 12px;
    background-color: #3665F3;
    border-radius: 10px;
    color: white !important;
    font-weight: bold;
    cursor: pointer;
    z-index: 9999;
}
.surveyContainer{
    border:2px solid gray;
    width: 500px;
    height: 650px;
    position: fixed;
    bottom: -5px;
    right: 30px;
    background-color: white;
    padding: 4px;
    z-index: 9999;
}
.iframe{
    border:1px solid white;
    width: 100%;
    height: 100%;
}