.hiveuniversity-button {
    background-color: rgb(1, 118, 211);
    color: white;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    padding: 0.3em;
}
.knowledge-article-title{
    font-size: large;
}
.white-text, .white-text:visited, .white-text:hover, .white-text:active {
    color: white;
}