.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: white; /*#054292;*/
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left:16%;
    margin-left: -9.8rem;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: normal;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    display: inline-block;
  }
  .tooltip:hover, .tooltiptext:hover + .tooltip{
    display: inline-block;
}