@import 'c/proTraderCommonCSS';
.row {
    margin-left: 0;
    margin-right: 0;
}
.section-box {
    background-color: #FFFFFF;
    box-shadow: 3px 3px 20px #0000001A;
    border-radius: 0px 0px 16px 16px;
}

.px-0 {
    padding-right: 0!important;
    padding-left: 0!important;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.strip-color {
    width: 100%;
    height: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.strip-color div:nth-child(1) {
    background: #E53238;
}
.strip-color div:nth-child(2) {
    background: #0064D2;
}
.strip-color div:nth-child(3) {
    background: #F5AF02;
}
.strip-color div:nth-child(4) {
    background: #86B817;
}

@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}

@media (min-width: 768px){
    .pb-md-0 {
        padding-bottom: 0!important;
    }
    .mb-md-5 {
        margin-bottom: 3rem!important;
    }
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}
@media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 576px){
    .container, .container-sm {
        max-width: 540px;
    }
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1320px;
}
footer, header, section {
    display: block;
}