.custombtn {
    /* position: absolute;
    margin-top: 3%;
    padding: 0px;
    background-color:#8EDFE1; */
}
.custombtnclear button{
    /* margin-top: 11%;  
    background-color:#ddd !important;  */
}