.banner{
    background-color:#fdcd27;
}
.text_heading{
    color: #07522c;
    font-weight: 700;
    font-size: 2.95rem;;
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    color: #07522c;
    font-size: 1.65rem;
    font-family: Arial, Helvetica, sans-serif;
}
.bckButton{
    width: 175px;
    border: 2px solid #07522c;
    cursor: pointer;
    font-size: 1.08rem;
    font-family: Arial, Helvetica, sans-serif;
}
.bckButton:hover{
    background: #07522c;
    color: #fdcd27;
}
.slds-icon-text-default{
    fill:#2e844a !important;
}
.bckButton svg{
    fill:#2e844a !important;
}
.slds-icon_small{
    fill:#2e844a !important;
}