.modal-h {
    /* min-height: 70%; */
    max-height: 70%;
}
.my-error-box {
    border: 2px solid #e41b1b;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.my-box {
    border: 1px solid #5f5f5f;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.option-info{
    margin-top: -15px;
    margin-bottom: -10px;
}
.my-spinner{
    z-index: 9999 !important;
}