.title {
    margin-left:15px;
}
.contract-amendment lightning-card .slds-card{
    background-color: #d1cfcf !important;
}

:host {
  --slds-c-card-header-spacing-inline-start: 0; 
}

.container {
    width: 100%;
}
.text-center {
    text-align: center !important;
}
.tbl-parent td.tbl-second-td {
    width: 60%;
}
.tbl-parent td.tbl-first-td {
    width: 40%;
}
.tbl-parent-value {
    width: 175px;
}
.child-table {
    margin-top:5px;
    border: 1px solid #d1cfcf;
}
.btn-link {
    margin: 0 !important;
}
.btn-link button{
    color: blue !important;
}
.margin-0 {
    margin: 0;
}

.title-header {
    background-color: rgb(0 0 0 / 6%);
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.section-name .slds-accordion__summary {
    background-color: rgb(0 0 0 / 6%) !important;
}