.titleBlock {    
    height: 55px;
}

.titleBlock h1 {
    font-weight: 700;
}
.overlay{
    opacity:0.8;
    background-color:#D4D4D4;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.myContent-Wrapper{
   padding: 5% 10%;
   text-align: justify;
}